<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>


    <link type="text/css" rel="stylesheet" href="../stylesheet.css"/>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC" rel="stylesheet">

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.js"></script>
</head>
<body>
<div th:replace="/../include/menu::menu"></div>

<div class="row mt-5">
    <div class="col-2"></div>
    <div class="col-8">

        <table id="table" class="table table-striped">
            <thead>
            <tr>
                <th>Course code</th>
                <th>Student name</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr></tr>
            </tbody>
        </table>
    </div>
    <div class="col-2"></div>
</div>

</body>
<script>
  function table() {
    $.ajax({
      url: '/../api/student/pending',
      type: 'get',
      error: function (err) {
        console.log(err.responseText);
      },
      success: function (options) {
        $("#table > tbody").empty();

        for (let i = 0; i < options.length; i++) {

          console.log(options[i].id);
          $("#table").append(
            '<tr>' +
            '<td>' + options[i].course.classCode + '</td>' +
            '<td>' + options[i].studentName + '</td>' +
            '<td>' +
            '<a onclick="accept(' + options[i].id + ')" class="btn btn-success float-right">Accept</a>' +
            '<a onclick="decline(' + options[i].id + ')" class="btn btn-danger float-right mr-2">Decline</a>' +
            '</td>' +
            '</tr>');
        }
      }
    });
  }

  table();
</script>
<script>


  function decline(id) {
    $.ajax({
      url: '/../api/student/updatePending',
      type: 'put',
      data: {
        courseID: id,
        acc: false
      },
      error: function (err) {
        console.log(err.responseText);
      },
      success: function (options) {
        console.log(options);
        table();
      }
    });
  }

  function accept(id) {
    $.ajax({
      url: '/../api/student/updatePending',
      type: 'put',
      data: {
        courseID: id,
        acc: true
      },
      error: function (err) {
        console.log(err.responseText);
      },
      success: function (options) {
        console.log(options);
        table();
      }
    });
  }
</script>

</html>