/*
Create new couse style

.createForm{
    margin: auto;
}

.createForm div{
    padding: 10px;
}

.createForm select{
    float: right;
}

.teacherSelect {
    height: 108px;
}
*/
.teacherSelect select {
    height: 108px;
}


.float-right{
    float: right;
}

.input-group-text{
    min-width: 250px;
}

label, span, input, textarea, .item{
font-family: 'Noto Sans TC', sans-serif;
}

.dropdownwidth247{
    width: 48%;
}
