/*
Create new couse style
*/
.createForm{
    margin: auto;
}

.createForm div{
    padding: 10px;
}

.createForm input, select{
    float: right;
}

.teacherSelect{
    height: 108px;
}

.createCoursebtn{
    float: right;
}
