<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous"/>
</head>
<body style="background-color: lightgray">
<div th:replace="/include/menu::menu"></div>


<table id="courseTable" class="table table-striped">
    <thead>
    <tr>
        <th>Course Name (Dansk)</th>
        <th>Course Name (English)</th>
        <th>Semester</th>
        <th>Mandatory or Elective</th>
        <th>Edit</th>

    </tr>
    </thead>
    <tbody>
    <tr>
    </tr>
    </tbody>
</table>


</body>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>

  $.ajax({
    method: "get",
    url: "/api/course/courses",
    success: function (list) {

      // console.log(list[0].studiePrograms);
      // console.log(Object.keys(list[0]));
      // var metadataLength = Object.keys(list[0]).length
      // for (var i = 0; i < metadataLength; i++) {
      //
      //   $('#courseTable > thead tr').append('<th>' + Object.keys(list[0])[i] + '</th>');
      // }
      // for (var i = 0; i < list.length; i++) {
      //
      //
      //   var course = list[i];
      //   var x;
      //   var tr = "<tr>";
      //   tr += '<td><a href="/course/updateCourse/' +list[i].id+ '"  class="btn btn-primary">Edit</a></td>';
      //   for (x in course) {
      //     tr += '<td>' + course[x] + '</td>'
      //   }
      //   tr += "</tr>";
      //   $("#courseTable tr:last").after(tr);



        for (var i = 0; i < list.length; i++) {
            var booleanMandatory = "Elective";
            if (list[i].mandatoryOrElective) {
                booleanMandatory = "Mandatory";
            }

            $("#courseTable").append('<a href="/course/updateCourse/'+list[i].id+ '"><tr>' +
                '<td>' + list[i].nameDK + '</td>' +
                '<td>' + list[i].nameENG + '</td>' +
                '<td>' + list[i].semester + '</td>' +
                '<td>' + booleanMandatory + '</td>' +
                '<td>' +
                '      <a href="/course/updateCourse/' + list[i].id + '"  class="btn btn-primary">Edit</a>' +
                ' </td>' +
                '</tr> </a>'
            );
        }
    }
  });


</script>
</html>