<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update</title>

    <link type="text/css" rel="stylesheet" href="../../stylesheet.css"/>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css">

</head>
<body>

<div th:replace="/../include/menu::menu"></div>

<div class="row mt-5">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <form id="createFormID" class="createForm" action="/api/updateCourse" method="post">

            <div class="row">

                <input th:field="${course.id}" hidden/>
                <div class="col-md-5">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Kursusnavn Dansk</span>
                        </div>
                        <input th:field="${course.nameDK}" type="text" class="form-control"
                               aria-label="Sizing example input"
                               aria-describedby="inputGroup-sizing-default">
                    </div>


                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Kursusnavn Engelsk</span>
                        </div>
                        <input th:field="${course.nameENG}" type="text" class="form-control"
                               aria-label="Sizing example input"
                               aria-describedby="inputGroup-sizing-default">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Semester</span>
                        </div>
                        <input th:field="${course.semester}" type="text" class="form-control"
                               aria-label="Sizing example input"
                               aria-describedby="inputGroup-sizing-default">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Klassekode</span>
                        </div>
                        <input th:field="${course.classCode}" type="text" class="form-control"
                               aria-label="Sizing example input"
                               aria-describedby="inputGroup-sizing-default">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Studieprogram</span>
                        </div>
                        <select th:field="${course.studiePrograms}" class="dropdownwidth247">
                            <option
                                    th:each="studieProgram : ${studiePrograms}"
                                    th:value="${studieProgram.id}"
                                    th:text="${studieProgram.program}"
                            ></option>
                        </select>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Obligatorisk eller valgfrit</span>
                        </div>
                        <select th:field="${course.mandatoryOrElective}" class="dropdownwidth247">
                            <option value="false">Obligatorisk</option>
                            <option value="true">Valgfrit</option>
                        </select>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">ECTS</span>
                        </div>
                        <input th:field="${course.ECTS}" type="text" class="form-control"
                               aria-label="Sizing example input"
                               aria-describedby="inputGroup-sizing-default">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Sprog</span>
                        </div>
                        <input th:field="${course.courseLanguage}" type="text" class="form-control"
                               aria-label="Sizing example input"
                               aria-describedby="inputGroup-sizing-default">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Mindst antal studerende</span>
                        </div>
                        <input th:field="${course.minNumOfStudent}" type="text" class="form-control"
                               aria-label="Sizing example input"
                               aria-describedby="inputGroup-sizing-default">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Forventet antal studerende</span>
                        </div>
                        <input th:field="${course.expNumOfStudent}" type="text" class="form-control"
                               aria-label="Sizing example input"
                               aria-describedby="inputGroup-sizing-default">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Højeste antal studerende</span>
                        </div>
                        <input th:field="${course.maxNumOfStudent}" type="text" class="form-control"
                               aria-label="Sizing example input"
                               aria-describedby="inputGroup-sizing-default">
                    </div>

                </div>
                <div class="col-md-2"></div>
                <div class="col-md-5">


                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Forudsætninger</span>
                        </div>
                        <textarea th:field="${course.prerequisites}" type="text"
                                  class="form-control"
                                  aria-label="Sizing example input"
                                  aria-describedby="inputGroup-sizing-default"></textarea>
                    </div>


                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Læringsudbytte</span>
                        </div>
                        <textarea th:field="${course.learningOutcome}" type="text"
                                  class="form-control"
                                  aria-label="With textarea"></textarea>
                    </div>


                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Kursus indhold</span>
                        </div>
                        <textarea th:field="${course.content}" type="text" class="form-control"
                                  aria-label="Sizing example input"
                                  aria-describedby="inputGroup-sizing-default"></textarea>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Læringsaktiviteter</span>
                        </div>
                        <textarea th:field="${course.learningActivitys}" type="text"
                                  class="form-control"
                                  aria-label="Sizing example input"
                                  aria-describedby="inputGroup-sizing-default"></textarea>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Eksamensform</span>
                        </div>
                        <textarea th:field="${course.examForm}" type="text" class="form-control"
                                  aria-label="Sizing example input"
                                  aria-describedby="inputGroup-sizing-default"></textarea>
                    </div>

                    <input
                            th:field="${course.teachers}">
                        <!--<option-->
                                <!--th:each="teacher : ${teachers}"-->
                                <!--th:value="${teacher.id}"-->
                                <!--th:text="${teacher.name}"-->
                        <!--&gt;</option>-->
                    </input>


                </div>
            </div>


            <div>
                <a href="/course/courses" class="btn btn-danger backbtn">Back</a>
                <button id="createCourseBtnID" type="button"
                        class="btn btn-success float-right">Update
                </button>
                <button id="deleteCourseBtnID" type="button"
                        class="btn btn-danger backbtn float-right" style="margin-right: 10px">Delete
                </button>

            </div>
        </form>
    </div>
    <div class="col-md-1"></div>
</div>


<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.js"></script>


<script>

    let teachers;
  $.ajax({
    url: '/../api/course/courseTeachers',
    type: 'GET',
    data: {
      id: $("#id").val(),
    },
    error: function (err) {
      console.log(err);
    },
    success: function (options) {
       teachers = options.map(x => x.id);
    }
  });


  $.ajax({
    url: '/../api/teacher/teacherByName',
    type: 'GET',

    error: function (err) {
      console.log(err);
    },

    success: function (options) {
      $('#teachers').selectize({
        options: options,
        items: teachers,
        persist: false,
        searchField: ['name', 'id'],
        valueField: 'id',
        labelField: 'name',
        maxItems: null,
        preload: true,
        create: false,
        plugins: ['remove_button'],
      });
    }
  });
</script>

<script>
  $("#createCourseBtnID").click(function () {
    $.ajax({
      method: "put",
      url: "/api/course/updateCourse",
      data: $("#createFormID").serialize(),
      success: function (resp) {
        console.log(resp);
        window.location.href = "/";

      }
    });
  });

  $("#deleteCourseBtnID").click(function () {
    $.ajax({
      method: "delete",
      url: "/api/course/deleteCourse",
      data: $("#createFormID").serialize(),
      success: function (resp) {
        console.log(resp);
        window.location.href = "/";

      }
    });
  });

</script>
</body>
</html>